// Global Variables
$bgcolor: #0e100f;
$fontcolor: #fff;


$primary: beige;
$toPxArr: (
	wide : 1440px, 
	desktop: 1024px,
	tablet: 767px,
	mobile: 359px,
	s-mobile: 320px
);

$wide: 1920px; 
$desktop: 1440px; 
$tablet: 1024px; 
$mobile: 768px;
$s-mobile: 359px;
$xs-mobile: 320px;